<div class="list-order-container">
  <h2 *authorization="[Role.RECEPTIONIST]" class="list-order-title">Pending Orders</h2>
  <h2 *authorization="[Role.CHEF]" class="list-order-title">Confirmed Orders</h2>
  <h2 *authorization="[Role.DELIVERY]" class="list-order-title">Delivering Orders</h2>
  <div class="list-table-order">
    <div>
      <mat-form-field class="list-order-search">
        <mat-label>Search</mat-label>
        <input matInput type="text" [formControl]="searchTerm">
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order No </th>
        <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
      </ng-container>
      <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef> Items </th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let i of element.items">
            <span>{{ i.productName }} x {{ i.quantity }}</span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="padding: 0 28px"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div *authorization="[Role.RECEPTIONIST]">
            <button mat-button (click)="confirm(element)">Confirm</button>
            <button mat-button (click)="cancel(element)">Cancel</button>
          </div>
          <div *authorization="[Role.CHEF]">
            <button mat-button (click)="chefDone(element)">Done</button>
          </div>
          <div *authorization="[Role.DELIVERY]">
            <button mat-button (click)="delivered(element)">DONE</button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
